/* style.css */

body{
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: Center;
    height: 100vh; /* centrar verticalmente la pantalla */
    margin: 0;
}

.contenedor {
    background-color: white;
    padding:30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px
    rgba(0,0,0,0.1);
    text-align: center;
}

#boton1{
    background-color: #007bff;
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#boton1:hover{  /*efecto al pasar el raton */
    background-color: #0056b3;
}